#alert-container {
  display: none;
  position: fixed;
  margin-top: 4px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 0px 1px rgb(37, 37, 37, 0.3);
  }
  cursor: pointer;
}

#alert-message {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(37, 37, 37);
  padding: 3px;
  text-align: justify;
}
#custom-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
  border: 2px solid rgb(37, 37, 37);
  padding: 5px 10px;
}

#alert-close {
  background-color: rgb(235, 76, 70);
  padding: 7px 25px;
  font-weight: 700;
  border: 2px solid rgb(37, 37, 37);
  cursor: pointer;
  position: relative;
  margin-top: 0.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  body{
    max-width: 100dvw;
    overflow: hidden;
  }
  #custom-alert {
    width: 17rem;
  }

  #alert-message {
    font-size: 1.05rem;
    padding: 1px;
  }
  #alert-close {
    padding: 5px 20px;
  }
}

@media (min-width: 768) and (max-width: 1024px) {
  @media (max-width: 768px) {
    #custom-alert {
      width: 30rem;
    }

    #alert-message {
      font-size: 1.35rem;
      padding: 5px;
    }
    #alert-close {
      padding: 10px 40px;
    }
  }
}
